<li>
  <a href="<%= user_path(tweet.user_id) %>">
    <span class="tweetUserName"><%= tweet.user.name %></span>
  </a>
  <span class="content"><%= tweet.content %></span>
  <span class="timestamp">
    Tweeted <%= time_ago_in_words(tweet.created_at) %> ago.
  </span>
</li>