<footer class="footer">
  <small>
    Produced by Life is Tech !
  </small>
  <nav>
    <ul>
      <li><a href="http://life-is-tech.com/">About</a></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>